---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				list-style-type: disc;
				margin: 0;
				padding-left: 2rem;
			}
			ul li {
				margin-bottom: 0.5rem;
			}
			ul li a {
				text-decoration: none;
				color: blue;
				transition: 0.2s ease;
			}
			ul li a:hover {
				color: rgb(var(--accent));
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									{post.data.title} | <FormattedDate date={post.data.pubDate} />
								</a>
							</li>
						))
					}
					<li>
						<a href="https://medium.com/@jasonkingsley.brown/exploreddd-2025-3f686bfc7e60" target="_blank" rel="noopener noreferrer">ExploreDDD 2025 | Apr 17, 2025</a>
					</li>
					<li>
						<a href="https://medium.com/@jasonkingsley.brown/o11y-day-7e5b5bd7c98d" target="_blank" rel="noopener noreferrer">O11y Day | Mar 27, 2025</a>
					</li>
					<li>
						<a href="https://medium.com/@jasonkingsley.brown/rails-world-toronto-hello-world-to-ipo-bac0c18cd0cf" target="_blank" rel="noopener noreferrer">Rails World Toronto: Hello World to IPO | Jan 9, 2025</a>
					</li>
					<li>
						<a href="https://medium.com/@jasonkingsley.brown/lessons-from-exploreddd-2024-da58d5040174" target="_blank" rel="noopener noreferrer">Lessons from ExploreDDD 2024 | Mar 19, 2024</a>
					</li>
					<li>
						<a href="https://medium.com/@jasonkingsley.brown/le-club-2023-f5c0a9565f3e" target="_blank" rel="noopener noreferrer">Le Club 2023 | Mar 19, 2024</a>
					</li>
					<li>
						<a href="https://medium.com/@jasonkingsley.brown/reflecting-on-four-years-of-projects-at-checkr-06e338cf455f" target="_blank" rel="noopener noreferrer">Reflecting on four years of projects at Checkr | Nov 30, 2023</a>
					</li>
					<li>
						<a href="https://medium.com/@jasonkingsley.brown/rubyconf-2023-b2a9b30bc85e" target="_blank" rel="noopener noreferrer">RubyConf 2023 | Nov 15, 2023</a>
					</li>
					<li>
						<a href="https://medium.com/@jasonkingsley.brown/software-podcast-reviews-pt-ii-aa3895118d04" target="_blank" rel="noopener noreferrer">Software Podcast Reviews Pt. II | Sep 7, 2023</a>
					</li>
					<li>
						<a href="https://medium.com/@jasonkingsley.brown/rollback-revert-roll-forward-oh-my-1753d8d2e079" target="_blank" rel="noopener noreferrer">Rollback, Revert, roll-forward, oh my! | Mar 29, 2022</a>
					</li>
					<li>
						<a href="https://medium.com/@jasonkingsley.brown/how-we-onboard-new-engineers-part-i-37313080a1a8" target="_blank" rel="noopener noreferrer">How We Onboard New Engineers | Feb 15, 2022</a>
					</li>
					<li>
						<a href="https://medium.com/@jasonkingsley.brown/rubyconf-2021-recap-1ee660c8c42d" target="_blank" rel="noopener noreferrer">RubyConf 2021 Recap | Nov 11, 2021</a>
					</li>
					<li>
						<a href="https://medium.com/checkr/its-always-greener-on-the-other-pipeline-5139ed849aef" target="_blank" rel="noopener noreferrer">It's always greener on the other pipeline | Sep 22, 2021</a>
					</li>
					<li>
						<a href="https://medium.com/checkr/international-expansion-and-multi-region-deployments-2dc49b7305b0" target="_blank" rel="noopener noreferrer">International expansion and multi-region deployments | Mar 8, 2021</a>
					</li>
					<li>
						<a href="https://medium.com/@jasonkingsley.brown/i-listened-to-40-hours-of-software-podcasts-so-you-dont-have-to-13cae0fae9d4" target="_blank" rel="noopener noreferrer">I listened to 40 hours of software podcasts so you don't have to | Sep 9, 2020</a>
					</li>
					<li>
						<a href="https://medium.com/@jasonkingsley.brown/the-ups-and-downs-of-open-source-46160cd384a6" target="_blank" rel="noopener noreferrer">The ups and downs of open-source | Jul 20, 2020</a>
					</li>
					<li>
						<a href="https://medium.com/@jasonkingsley.brown/hackathon-recap-winning-formula-397c8a1fd3b8" target="_blank" rel="noopener noreferrer">Hackathon Recap: Winning Formula | Jan 22, 2020</a>
					</li>
					<li>
						<a href="https://medium.com/uptake-tech/migrating-to-java-11-while-maintaining-a-java-8-client-library-f618a3ca6499" target="_blank" rel="noopener noreferrer">Migrating to Java 11 while maintaining a Java 8 client library | May 17, 2019</a>
					</li>
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
